#message-on-submit {
    width: 100%;
    height: 100vh;

    background-color: #000;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    width: 50%;
    height: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#icon {
    color: green;
    font-size: 2.5em;
}

#message {
    color: #fff;
}